.aa{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    margin-left: 8%;
    font-size: 30px;
}
.aa2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 75%;
    text-decoration: none;
    float: right;
    font-size: 30px;
}
.aa3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    float: right;
    text-decoration: none;
    margin-top: -35px;
    margin-right: 48%;
    font-size: 30px;
}
.aa4{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 7%;
    font-weight: 700;
    margin-top: -35px;
    float: right;
    font-size: 30px;
}
.aa5{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: -65%;
    margin-top: -35px;
    float: right;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
}
.aa6{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: -30%;
    margin-top: -35px;
    float: right;
    text-decoration: none;
    font-size: 30px;
}
.image{
    width: 185;
    height: 250;
    margin-left: 9%;
    margin-top: -270px;
    position: absolute;
    top: 50%;
    transform: translateY(-38%);
}
.iphone{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-top: 130px;
    font-weight: 700;
    font-size: 28px;
}
.natural{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 21.5%;
    font-weight: 700;
    font-size: 28px;
}
.titanium{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 23%;
    font-weight: 700;
    font-size: 28px;
}
.minus{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 6px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-600%);
    cursor: pointer;
}
.count{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40.5%;
    margin-top: -30px;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-710%);
}
.plus{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 42.7%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 6.3px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-600%);
    cursor: pointer;
}
.price{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 48%;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-850%);
}
.vertical-line {
    margin-left: 58%;
    border-left: 3px solid black; /* Жирная линия */
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-148%);
}
.image2{
    width: 200;
    height: 211.22;
    margin-left: 8.5%;
    margin-top: -270px;
    position: absolute;
    top: 50%;
    transform: translateY(100%);
}
.macbook{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-top: 140px;
    font-weight: 700;
    font-size: 28px;
}
.space{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20.5%;
    font-weight: 700;
    font-size: 28px;
}
.gray{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20.1%;
    font-weight: 700;
    font-size: 28px;
}
.minus2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 6px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(130%);
    cursor: pointer;
}
.count2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40.5%;
    margin-top: -30px;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(170%);
}
.plus2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 42.7%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 6.3px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(130%);
    cursor: pointer;
}
.price2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 48%;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(30%);
}
.vertical-line2{
    margin-left: 58%;
    border-left: 3px solid black; /* Жирная линия */
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-38%);
}
.image3{
    width: 200;
    height: 211.22;
    margin-left: 8.5%;
    margin-top: -270px;
    position: absolute;
    top: 50%;
    transform: translateY(233%);
}
.watch{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-top: 140px;
    font-weight: 700;
    font-size: 28px;
}
.ultra{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20.3%;
    font-weight: 700;
    font-size: 28px;
}
.apple{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20.8%;
    font-weight: 700;
    font-size: 28px;
}
.minus3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 6px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(800%);
    cursor: pointer;
}
.count3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40.5%;
    margin-top: -30px;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(980%);
}
.plus3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 42.7%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 41;
    height: 41;
    border: 1px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 6.3px;
    font-size: 28px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(800%);
    cursor: pointer;
}
.price3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 48%;
    font-weight: 700;
    font-size: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(837%);
}
.vertical-line3{
    margin-left: 58%;
    border-left: 3px solid black; /* Жирная линия */
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(73%);
}
.product{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    margin-left: 37.25%;
    top: 50%;
    font-size: 22px;
    transform: translateY(-1675%);
}
.counter{
    margin-left: 36.6%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 35;
    height: 35;
    border: 1px;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-1220%);
}
.design{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65%;
    margin-top: -30px;
    background-color: #EFCB4A;
    width: 500;
    height: 135;
    border: 1px;
    font-weight: 700;
    font-size: 29px;
    border-radius: 15px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-234%);
    cursor: pointer;
}
.sum{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65.5%;
    position: absolute;
    font-weight: 700;
    top: 50%;
    transform: translateY(-680%);
}
.discount{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65.5%;
    position: absolute;
    font-weight: 700;
    top: 50%;
    transform: translateY(-470%);
}
.generalsum{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 65.5%;
    position: absolute;
    font-weight: 700;
    top: 50%;
    transform: translateY(-200%);
}
.spanSum{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 83%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-600%);
}
.spanSum2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 83.75%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-400%);
}
.spanSum3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 83%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-160%);
}
.grn{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 88.5%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-656%);
}
.grn2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 88.5%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-455%);
}
.grn3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 88.5%;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    top: 50%;
    transform: translateY(-217%);
}
.h21{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14%;
    position: absolute;
    top: 50%;
    transform: translateY(-850%);
}